---
// Un contenedor grid para meter las tarjetas de precios o servicios
---
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6 my-10 items-stretch not-prose">
  <slot />
</div>
